<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width">
</head>
<body>
<div class="Wrapper">
    <div class="header clearfix">
        <div class="header__Left">
            <div class="header__Logo">
            </div>
            <span class="header__companyName">company</span>
        </div>
        <nav class="header__Right clearfix">
            <ul class="header__Menu">
                <a href="#" class="header__MenuLink">
                    <li class="header__MenuItemText">SEND TO A FRIEND</li>
                </a>
                <a href="#" class="header__MenuLink">
                    <li class="header__MenuItemText">VIEW AS A WEB PAGE</li>
                </a>
            </ul>
        </nav>
    </div>