* {
  box-sizing: border-box;
}

.Wrapper {
  margin: auto;
}

.WrapHeaderDouble {
  display: flex;
  flex-wrap: wrap;
  max-width: 1126px;
  margin: auto;
}

.wrapHeader {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 28px 36px 51px;
}

.Logo {
  flex-basis: 14.5%;

  &__img {

  }
}

.WrapMenu {
  display: flex;
  flex-basis: 60%;
}

.Menu {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  padding: 0px 88px 11px;
  flex-wrap: wrap;

  .MenuItem {
    flex-basis: 33.33333333333333%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 100px;

    &:hover {
      cursor: pointer;
      background-color: #0F7EB5;
      transition: 0.7s;
    }

    &__Link {
      text-decoration: none;
      font-size: 16px;
      font-family: "Open Sans";
      width: 100%;
      text-align: center;
      line-height: 52px;

      color: #000000;

      &:hover {
        color: #FFFFFF;
      }
    }
  }
}

.WrapCallMe {
  flex-basis: 25.5%;
  display: flex;
  flex-direction: column;
}

.CallMe {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 15px;
  margin-top: 7px;
  min-width: 268px;

  &__phoneIcon {
    margin-left: 9px;
  }

  &__phoneNumber {
    font-size: 24px;
    font-family: "Open Sans";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
    margin-left: 8px;
    margin-top: -7px;
  }
}

.CallMeLink {
  align-self: flex-end;
  font-size: 14px;
  font-family: "Open Sans";
  color: rgb(0, 0, 0);
  margin-top: -7px;
  text-decoration-color: #0F7EB5;
  text-decoration-style: dashed;
  margin-left: 4px;

}

/* Slider -------------------------------------------------------------------------------------------------*/

.WrapSlider {
  padding-bottom: 77px;
  max-width: 1126px;
  margin: auto;
  overflow: hidden;
}

.WrapSliderItem {
  width: 100%;
  display: flex;
  margin: auto;
  overflow: hidden;
}

.Slider {
  width: 100%;
  /*background-image: url("/build/img/bg1.png");*/
  background: repeating-linear-gradient(
          -45deg,
          #00A9DA,
          #6DAFCB 1px,
          #69B7D6 1px,
          #69B7D6 6px
  );
  /*margin: auto;*/
  display: flex;
  flex-direction: row;
  overflow: hidden;
}


.SliderLeftSide {

  &__img {
    margin: -26px 27px;
  }
}



.SliderRightSide {
  padding: 53px 40px 53px 25px;


  &__Title {
    font-size: 34px;
    font-family: "Open Sans";
    color: #FFFFFF;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 47px;
  }

  &__Subscribe {
    font-size: 16px;
    font-family: "Open Sans";
    color: #FFFFFF;
    line-height: 1.375;
    text-align: left;
    margin-bottom: 53px;
    margin-left: 3px;
  }

  &__btnLeft {
    margin-left: 3px;
  }

  &__btnRight {
    transform: rotate(180deg);
    margin-left: -7px;

  }
}
 /* Section 'About Us'------------------------------------------------------------*/

.WrapInfo {
  background-color: #F6F6F6;
}

.Info {
  max-width: 1126px;
  margin: auto;
  display: flex;
  flex-flow: wrap;
  padding:62px 36px 55px;
}

.InfoLeftSide {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  align-items: flex-start;

  &__img {
    margin-bottom: 90px;
  }

  &__Supply {
    font-size: 26px;
    font-family: "Open Sans";
    color: rgb(15, 126, 181);
    line-height: 1.577;
    margin-left: -2px;
  }
}

.InfoRightSide {
  flex-basis: 50%;

    &__RussianProduction {
      font-size: 18px;
      font-family: "Open Sans";
      color: rgb(0, 0, 0);
      line-height: 1.333;
      margin-top: -4px;
    }

    &__Decisions {
      font-size:18px;
      font-family: "Open Sans";
      color: rgb(0, 0, 0);
      line-height: 1.333;
      margin-right: -5px;
    }
}

.InfoRightSideMenu {
  margin-top: 31px;
  margin-bottom: 29px;

  &__Item {
    list-style-type: none;
    font-size: 18px;
    font-family: "Open Sans";
    color: rgb(0, 0, 0);
    line-height: 1.833;
    display: flex;
    align-items: center;

    &:before {
      background-color: #71B8D6;
      content: "";
      display: inline-block;
      width: 5px;
      height: 5px;
      margin-right: 12px;

    }
  }
}

/* Our Advantages -------------------------------------------------------------------------------*/

.WrapAdvantages {
  max-width: 1126px;
  padding: 60px 36px 70px;
  margin: auto;
}

.AdvantagesTitle {
  text-align: center;
  font-size: 26px;
  font-family: "Open Sans";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 0.923;
  margin-bottom: 60px;
}

.WrapAdvantagesSubscriptionDouble {
  display: flex;

}

.AdvantagesSubscription {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  width: 100%;
}

.WrapAdvantagesPointDouble {
  flex-basis: 33.33%;
}

.AdvantagesPoint {
 /* flex-basis: 100%;*/
  flex-direction: column;
  /*align-items: flex-start;*/
  padding-right: 30px;
  margin-bottom: 49px;

  &__Title {
    font-size: 20px;
    font-family: "Open Sans";
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 1.25;


    &_DifferentPadding {
      margin-right: 0px;
    }
  }

  &__Subscription {
    font-size: 18px;
    font-family: "Open Sans";
    color: rgb(0, 0, 0);
    line-height: 1.333;
    text-align: left;
  }
}

.WrapImg {
  height: 70px;
  margin-bottom: 25px;

  &__img {

  }
}

/* Approach section --------------------------------------------------------------------------- */

.WrapApproach {
  background-image: url("/build/img/house.png"), url("/build/img/bg1.png");
  /*background-position: top -145px left 594px, top right 0px;*/
  background-position: top -145px right -360px, top right 0px;
  background-repeat: no-repeat, repeat;
  background-size: 1029px, auto;
  position: relative;


  /* &:after {
    content: url("/build/img/house.png");

    position: absolute;
    display: block;
    bottom: -85px;
    right: -10px;
    max-width: 1029px;
    height: 704px;

  } */

}

.Approach {
  width: 1126px;
  padding: 55px 36px 49px;
  margin: auto;
  overflow: hidden;


  &__Title {
    font-size: 34px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 42px;
  }
}

.ApproachList {

}

.ApproachItem {
  list-style-type: none;
  font-size: 20px;
  font-family: "Open Sans";
  color: rgb(1, 1, 1);
  line-height: 1.2;
  display: flex;
  align-items: flex-start;
  padding: 12px 0px;

  &__num {
    font-size: 20px;
    font-family: "Open Sans";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    border: 2px solid #0F7EB5;
    display: inline-block;
    padding: 0px 6.5px;
    margin-right: 14px;
    margin-top: -1px;
    align-items: flex-start;
  }
}

.WrapBlockCTA {
  padding: 62px 0px;
  margin: auto;
}

.BlockCTA {
  max-width: 1126px;
  margin: auto;
  padding: 65px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 77px 60px;;
  background-color: #0D72A1;

  &__Suggestion {
    font-size: 24px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    flex-basis: 65%;

  }

  &__Connection {
    font-size: 18px;
    font-family: "Open Sans";
    color: #000000;
    line-height: 1.333;
    padding: 11px 69px;
    margin-right: 0px;
    margin-top: 12px;
    cursor: pointer;
  }
}

.WrapFooter {
  background-color: #2B2D2E;
}

.Footer {
  max-width: 1126px;
  margin: auto;
  padding: 55px 36px;
  display: flex;
  justify-content: space-between;
}

.FooterLeftSide {

  &__Address {
    font-size: 18px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.333;
    align-items: flex-start;
  }
}

.FooterRightSide {
  display: flex;
  flex-direction: column;
  align-items: flex-end;


  &__Telephone {
    font-size: 18px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.2;
margin-bottom: 4px;
  }

  &__Info {
    font-size: 18px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    text-decoration: underline;
    line-height: 1.2;
  }
}

/* Slick dots style rewrite-------------------------------------------------------------------------*/

.slick-dots {
  top:334px;
  right: 91px;
  height: 12px;
}

.slick-dots li {
  margin: 0 1.8px;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 12px;
  height: 12px;
  padding: 5px;
  cursor: pointer;
  border: 0;
  outline: none;
  background-color: #71B8D6;
}

.slick-dots li button::before {
  content: "";
}

.slick-dots li button:hover, .slick-dots li button:focus {
  background-color: #FFFFFF;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-prev::before {
  content: url(/build/svg/strelka-01.svg);
  z-index: 1000;
  font-size: 0;
}

.slick-prev {
  position: absolute;
  top: 341px;
  z-index: 1000;
  left: 628px;
  width: 40px;
  height: 40px;
}

.slick-next::before {
  content: url(/build/svg/strelka-01.svg);
  z-index: 1000;
  font-size: 0;
}

.slick-next {
  position: absolute;
  top: 321.5px;
  z-index: 1000;
  left: 664px;
  width: 40px;
  height: 40px;
  transform: rotate(180deg);
}

.slick-loading .slick-list {
  overflow: hidden;
}

.slick-slider {
  overflow: hidden;
}